body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

aside {
    width: 250px; /* Adjust as necessary */
    position: fixed; /* Keeps the sidebar in place while scrolling */
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal overflow */
    overflow-y: auto; /* Enables vertical scroll if content overflows */
    background-color: #fff; /* Or any other color */
    padding: 20px;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px; /* Adds some space below the image */
}

.linkedin-logo {
    width: 30px; /* Adjust size as needed */
    margin-top: 10px; /* Adds some space above the LinkedIn logo */
}

main {
    margin-left: 250px; /* Should match the width of the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Adjusts the width of the main content area */
    box-sizing: border-box;
}

section {
    margin-bottom: 20px;
}

footer {
    clear: both;
    width: 100%;
    position: relative; /* Adjusted for the flow of the document */
    text-align: center;
    padding: 10px 0;
    background-color: #f2f2f2; /* Or any other color */
}




